$metaSize: 0.75em;
$metaColor: #333333;
$grayBG: #f3f3f3;

body {
  font-size: 16px;
}

a {
  a:hover {
    cursor: pointer;
  }
}

.main-content {
  display: block;
  margin-top: 10px;
}

.story-item {
  padding: 15px 8px;

  .title {
    a {
      font-weight: bold;
    }
  }

  .host, .meta {
    font-size: $metaSize;
    color: $metaColor;

    a {
      color: $metaColor;
    }
  }

  .meta {
    

    .author {
      font-weight: bold;
    }

    .comments {

      &:before {
        content: " | ";
        font-weight: normal;
      }

      &.has-comments {
        font-weight: bold;
      }
    }
  }

  &:nth-child(2n) {
    background-color: $grayBG;
  }
}

.placeholder-loading {
  height: 60px;
  background: #b9b9b9;
  height: 14px;
  margin-top: 28px !important;
  margin-bottom: 28px !important;
  width: 80%;

    &::after, &:before {
      content: "";
      background: #b9b9b9;
      height: 14px;
      position: relative;
      display: block;
  }

  &::before {
    width: 70%;
    top: -24px;
  }

  &::after {
    width: 50%;
    top: 10px;
  }

}
